body {
  background-color: rgba(0, 0, 0, 0.583);
  text-align: center;
}

h1 {
  margin-bottom: 100px;
  margin-top: 80px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.keys {
  display: flex;
  justify-content: center;
}

.key {
  margin: 1rem;
  border: 4px solid black;
  border-radius: 5px;
  padding: 1rem .5rem;
  font-size: 1.5rem;
  width: 90px;
  display: grid;
  transition:all 0.07s;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.sound {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #ffc600;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}
